/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ffa600;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #b3cb2d;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Header Icons */

.header-github-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTgiIGhlaWdodD0iOTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik00OC44NTQgMEMyMS44MzkgMCAwIDIyIDAgNDkuMjE3YzAgMjEuNzU2IDEzLjk5MyA0MC4xNzIgMzMuNDA1IDQ2LjY5IDIuNDI3LjQ5IDMuMzE2LTEuMDU5IDMuMzE2LTIuMzYyIDAtMS4xNDEtLjA4LTUuMDUyLS4wOC05LjEyNy0xMy41OSAyLjkzNC0xNi40Mi01Ljg2Ny0xNi40Mi01Ljg2Ny0yLjE4NC01LjcwNC01LjQyLTcuMTctNS40Mi03LjE3LTQuNDQ4LTMuMDE1LjMyNC0zLjAxNS4zMjQtMy4wMTUgNC45MzQuMzI2IDcuNTIzIDUuMDUyIDcuNTIzIDUuMDUyIDQuMzY3IDcuNDk2IDExLjQwNCA1LjM3OCAxNC4yMzUgNC4wNzQuNDA0LTMuMTc4IDEuNjk5LTUuMzc4IDMuMDc0LTYuNi0xMC44MzktMS4xNDEtMjIuMjQzLTUuMzc4LTIyLjI0My0yNC4yODMgMC01LjM3OCAxLjk0LTkuNzc4IDUuMDE0LTEzLjItLjQ4NS0xLjIyMi0yLjE4NC02LjI3NS40ODYtMTMuMDM4IDAgMCA0LjEyNS0xLjMwNCAxMy40MjYgNS4wNTJhNDYuOTcgNDYuOTcgMCAwIDEgMTIuMjE0LTEuNjNjNC4xMjUgMCA4LjMzLjU3MSAxMi4yMTMgMS42MyA5LjMwMi02LjM1NiAxMy40MjctNS4wNTIgMTMuNDI3LTUuMDUyIDIuNjcgNi43NjMuOTcgMTEuODE2LjQ4NSAxMy4wMzggMy4xNTUgMy40MjIgNS4wMTUgNy44MjIgNS4wMTUgMTMuMiAwIDE4LjkwNS0xMS40MDQgMjMuMDYtMjIuMzI0IDI0LjI4MyAxLjc4IDEuNTQ4IDMuMzE2IDQuNDgxIDMuMzE2IDkuMTI2IDAgNi42LS4wOCAxMS44OTctLjA4IDEzLjUyNiAwIDEuMzA0Ljg5IDIuODUzIDMuMzE2IDIuMzY0IDE5LjQxMi02LjUyIDMzLjQwNS0yNC45MzUgMzMuNDA1LTQ2LjY5MUM5Ny43MDcgMjIgNzUuNzg4IDAgNDguODU0IDB6IiBmaWxsPSIjMjQyOTJmIi8+PC9zdmc+") 0 0/contain;
}

.header-catena-link::before {
  content: '';
  width: 22px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MS44MjciIGhlaWdodD0iNTUuMDY3IiB2aWV3Qm94PSIwIDAgNTEuODI3IDU1LjA2NyI+CiAgPGcgaWQ9IkdydXBwZV82MCIgZGF0YS1uYW1lPSJHcnVwcGUgNjAiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xODYgLTEwMzk1LjQ2NikiPgogICAgPHBhdGggaWQ9IlBmYWRfNDMiIGRhdGEtbmFtZT0iUGZhZCA0MyIgZD0iTTM5LjYwNiwxMzk2LjV2LTUuOTM4YS45NzcuOTc3LDAsMCwwLTEuNTMyLS44bC0yMy41NDYsMTYuMjU3YTQuMDY0LDQuMDY0LDAsMCwxLTYuMzcyLTMuMzQ1di03LjgyYTguMTI4LDguMTI4LDAsMCwxLDMuNTEtNi42ODhsNy00LjgzNWE0LjAyMyw0LjAyMywwLDAsMCwxLjczNy0zLjMxMXYtNS41ODlsLjAxOS01LjMyOGEuOTc4Ljk3OCwwLDAsMC0xLjUzMy0uOGwtNC45MTEsMy4zOTFhNC4wMjMsNC4wMjMsMCwwLDAtMS43MzcsMy4zMWwtLjAxLDIuODU3LTYsNC4xNDVBMTQuNDIzLDE0LjQyMywwLDAsMCwwLDEzOTMuODcydjguNzk0YTEyLjIyOCwxMi4yMjgsMCwwLDAsMTkuMTc0LDEwLjA2M2wxOC42ODktMTIuOUE0LjAzMyw0LjAzMywwLDAsMCwzOS42MDYsMTM5Ni41WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTg2IDkwMjcuMzQyKSIgZmlsbD0iI0ZGQTYwMCIvPgogICAgPHBhdGggaWQ9IlBmYWRfNDQiIGRhdGEtbmFtZT0iUGZhZCA0NCIgZD0iTTM2LjIsMTM4MS4wNTVsLTE4LjY5LDEyLjlhNC4wMzMsNC4wMzMsMCwwLDAtMS43NDIsMy4zMTl2NS45MzdhLjk3OC45NzgsMCwwLDAsMS41MzQuODA1bDIzLjU0NS0xNi4yNTVhNC4wNjQsNC4wNjQsMCwwLDEsNi4zNzIsMy4zNDR2Ny44MmE4LjEyNyw4LjEyNywwLDAsMS0zLjUxLDYuNjg4bC02LjI1OSw0LjMyMi0uNzE2LjQ5NGgwbC0uMDA1LDBBNC4wMjIsNC4wMjIsMCwwLDAsMzUsMTQxMy43NDd2MS41MDhsLS4wMzMsOS4zNzdhLjk3Ny45NzcsMCwwLDAsMS41MzIuOGw0LjkxMi0zLjM5MWE0LjAyMSw0LjAyMSwwLDAsMCwxLjczNy0zLjMxbC4wMS0yLjgxNSw1Ljk5NC00LjEzOWExNC40MjUsMTQuNDI1LDAsMCwwLDYuMjI5LTExLjg2OXYtOC43OTVBMTIuMjI3LDEyLjIyNywwLDAsMCwzNi4yLDEzODEuMDU1WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTgyLjQ0NyA5MDI0LjkyMikiIGZpbGw9IiNCM0NCMkQiLz4KICA8L2c+Cjwvc3ZnPgo=") 0 0/contain;
}

.header-tractus-link::before {
  content: '';
  width: 24px;
  height: 22px;
  display: flex;
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyIiBoZWlnaHQ9Ijk0IiB2aWV3Qm94PSIwIDAgMTAyIDk0IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMjUuNDYyNyA4MC4wNDU4QzIzLjg5ODcgODEuNDI1OCAyMS45MDI1IDgyLjEwNjUgMTkuODE0MiA4MS45Nzc3QzE3LjczNTEgODEuODQ4OSAxNS44MzA4IDgwLjkxMDYgMTQuNDYwMSA3OS4zNDY3QzExLjYxNzUgNzYuMTE3NyAxMS45MzAyIDcxLjE4NjggMTUuMTU5MyA2OC4zNDQxTDMwLjg4MTEgNTQuNDk4OUwzOS42NDgyIDQ2Ljc4MDZMNTEuNDQxOSAzNi4zOTQ0TDQyLjY3NDkgMjguNjc2TDMwLjg4MTEgMzkuMDYyMkwyMi4xMTQgNDYuNzgwNkw3LjQ5NjEgNTkuNjUwNkMtMC41MjU4MzggNjYuNzE1OCAtMS4yOTg1OSA3OC45Nzg3IDUuNzU3NCA4Ny4wMDA2QzkuMTc5NiA5MC44ODI4IDEzLjkwODEgOTMuMjAxMSAxOS4wNjkgOTMuNTMyM0MxOS40OTIyIDkzLjU1OTkgMTkuOTA2MiA5My41NjkxIDIwLjMyMDIgOTMuNTY5MUMyNS4wMzAzIDkzLjU2OTEgMjkuNTI4OCA5MS44NzY0IDMzLjA5ODIgODguNzMwMUw1MS40MjM1IDcyLjU5NDNMNDIuNjU2NSA2NC44NzU5TDI1LjQ0NDMgODAuMDM2NkwyNS40NjI3IDgwLjA0NThaIiBmaWxsPSIjRkFBMDIzIi8+CjxwYXRoIGQ9Ik05Ni41NDYgNi41NzAzMUM4OS40ODA4IC0xLjQ1MTYyIDc3LjIxNzkgLTIuMjI0MzcgNjkuMTk1OSA0LjgzMTYyTDUwLjg3MDYgMjAuOTY3NUw1OS42Mzc3IDI4LjY4NThMNzYuODQ5OSAxMy41MjUxQzc4LjI4NSAxMi4yNjQ4IDgwLjA5NzMgMTEuNTg0IDgxLjk5MjQgMTEuNTg0QzgyLjE1OCAxMS41ODQgODIuMzIzNiAxMS41ODQgODIuNDk4NCAxMS42MDI0Qzg0LjU3NzQgMTEuNzMxMiA4Ni40ODE3IDEyLjY2OTYgODcuODUyNSAxNC4yMzM1QzkwLjY5NTEgMTcuNDYyNSA5MC4zODIzIDIyLjM5MzQgODcuMTUzMyAyNS4yMzZMNzEuNDMxNCAzOS4wODEyTDYyLjY2NDMgNDYuNzk5Nkw1MC44NzA2IDU3LjE4NThMNTkuNjM3NyA2NC45MDQxTDcxLjQzMTQgNTQuNTE3OUw4MC4xOTg1IDQ2Ljc5OTZMOTQuODE2NSAzMy45Mjk1QzEwMi44MzggMjYuODY0MyAxMDMuNjExIDE0LjYwMTQgOTYuNTU1MiA2LjU3OTUxTDk2LjU0NiA2LjU3MDMxWiIgZmlsbD0iI0ZBQTAyMyIvPgo8cGF0aCBkPSJNOTQuNzUyNyA1OS42MDUxTDgwLjEzNDcgNDYuNzM1MUw3MS4zNjc3IDU0LjQ1MzRMODcuMDg5NSA2OC4yOTg2QzkwLjMxODYgNzEuMTQxMyA5MC42MzEzIDc2LjA3MjIgODcuNzg4NyA3OS4zMDEyQzg0Ljk0NjEgODIuNTIxIDgwLjAxNTIgODIuODQzIDc2Ljc4NjEgODAuMDAwNEw1OS41NzM5IDY0LjgzOTZMNTAuODA2OSA1Ny4xMjEzTDMwLjU4NjQgMzkuMzIwM0wyMS44MTkzIDQ3LjAzODdMNDIuMDQ5IDY0LjgzOTZMNTAuODE2MSA3Mi41NThMNjkuMTQxNCA4OC42OTM5QzcyLjgyMTIgOTEuOTMyMSA3Ny4zODQxIDkzLjUyMzYgODEuOTM3OCA5My41MjM2Qzg3LjMxMDMgOTMuNTIzNiA5Mi42NjQ0IDkxLjMwNjUgOTYuNDkxNCA4Ni45NjQ0QzEwMy41NTcgNzguOTQyNCAxMDIuNzc1IDY2LjY3OTUgOTQuNzUyNyA1OS42MTQzVjU5LjYwNTFaIiBmaWxsPSIjQUZDNzJEIi8+CjxwYXRoIGQ9Ik01OS42NDc1IDI4LjY4NTdMNTAuODgwNCAyMC45Njc0TDMyLjU1NTEgNC44NDA2OUMyOC42NzI5IDEuNDE4NDkgMjMuNjk2IC0wLjI4MzQwOSAxOC41MjU5IDAuMDM4NTcyNEMxMy4zNjUgMC4zNjk3NTMgOC42MzY0OCAyLjY4ODAyIDUuMjE0MjggNi41NzAxOUMxLjcxODQ4IDEwLjUzNTIgMC4wMTY1Nzc1IDE1LjY1MDEgMC40Mzk3NTMgMjAuOTMwNkMwLjg0NDUzIDI2LjA1NDcgMy4zNzQzOCAzMC43NzQgNy4yMjg5NiAzNC4xNjg2TDIxLjgyODUgNDcuMDM4NkwzMC41OTU2IDM5LjMyMDNMMTQuNzgxNyAyNS4zODMxQzExLjQ5NzUgMjIuNDk0NSAxMS4wNTU5IDE3LjMzMzYgMTQuMDA5IDE0LjExMzhDMTUuMzc5NyAxMi42MjM0IDE3LjIzOCAxMS43MzExIDE5LjI2MTkgMTEuNjAyM0MyMS4zNDA5IDExLjQ3MzUgMjMuMzQ2NCAxMi4xNTQzIDI0LjkxMDMgMTMuNTM0Mkw0Mi4xMjI1IDI4LjY5NDlMNTAuODg5NiAzNi40MTMzTDYyLjY4MzMgNDYuNzk5NUw3MS40NTA0IDM5LjA4MTFMNTkuNjU2NyAyOC42OTQ5TDU5LjY0NzUgMjguNjg1N1oiIGZpbGw9IiNBRkM3MkQiLz4KPC9zdmc+Cg==") 0 0/contain;
}

.featureSvg_cxPB {
  height: 108px !important;
  width: 108px !important;
  background-color: #FFF;
  padding: 8px;
  border-radius: 8px;
}
